:root {
    --primary-color: #3742FA;
    --primary-color-deep: #3039dd;
    --destructive-color: #FF4757;
    --success-color: #2ED573;
    --info-color: #FFA502;
    --on-surface: #ffffff;
    --disabled-grey: #c6ccd3;
    --disabled-deep-grey: #747D8C;
    --disabled-flat-grey: #b8babd;
    --focus-flat: #F1F2F6;
    --hover-flat: #f8f8f8;
    --dark-backround: #2F3542;
    --menu-grey-hover: #353b49;
    --menu-grey: #CED6E0;
    --on-menu-grey: #57606F;
}