@use '../../mixins/shadow.scss' as shadows;
@use './button-loader.scss';
@use './button-flat.scss' as flat;
@use './button-basic.scss' as basic;

@include flat.button-flat;
@include basic.button-basic;

.daio-button {
    font-weight: 500;
    min-width: 0;
    white-space: nowrap;

    background-color: var(--primary-color);
    color: var(--on-surface);
    border-radius: .5rem;
    border: none;
    padding: .8rem 1.5rem;
    cursor: pointer;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: .85rem;
    transition: outline .1s ease, filter .3s ease-in-out, transform .3s ease-in-out;
    user-select: none;

    @include shadows.daio-shadow;

    &:focus {
        outline: .2rem solid rgba($color: #3742FA, $alpha: .25);
    }

    &:hover:not(:focus) {
        @include shadows.daio-shadow-hover;
        transform: translateY(-.1rem);
    }

    &:disabled {
        pointer-events: none;
        background-color: var(--disabled-grey);
        color: var(--disabled-deep-grey);
    }

    &--loading {
        pointer-events: none;

        & .daio-button__text {
            opacity: 0;
            transform: translateY(-.5rem);
        }
    }

    &__text {
        transition: all .5s;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }

    &--success {
        background-color: var(--success-color);

        &:focus {
            outline: .2rem solid rgba($color: #2ED573, $alpha: .25);
        }
    }

    &--info {
        background-color: var(--info-color);
        
        &:focus {
            outline: .2rem solid rgba($color: #FFA502, $alpha: .25);
        }
    }

    &--destructive {
        background-color: var(--destructive-color);
        
        &:focus {
            outline: .2rem solid rgba($color: #FF4757, $alpha: .25);
        }
    }
}