@use '../../mixins/shadow.scss' as shadows;

.daio-button {
    background-color: var(--primary-color);
    color: var(--on-surface);
    border-radius: .5rem;
    border: none;
    padding: .8rem 1.5rem;
    cursor: pointer;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: .85rem;
    font-weight: 400;

    @include shadows.daio-shadow;
}