@use '../../mixins/shadow.scss' as shadows;
@use './button-loader.scss';

.daio-button {
    background-color: var(--primary-color);
    color: var(--on-surface);
    border-radius: .5rem;
    border: none;
    padding: .8rem 1.5rem;
    cursor: pointer;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: .85rem;
    font-weight: 500;
    transition: outline .1s, filter .3s ease-in-out, transform .3s ease-in-out;
    user-select: none;

    @include shadows.daio-shadow;

    &:focus {
        outline: .2rem solid rgba($color: #3742FA, $alpha: .25);
    }

    &:hover:not(:focus) {
        @include shadows.daio-shadow-hover;
        transform: translateY(-.1rem);
    }

    &--disabled {
        pointer-events: none;
        background-color: var(--disabled-grey);
        color: var(--disabled-deep-grey);
    }

    &--loading {
        pointer-events: none;

        & .daio-button__text {
            opacity: 0;
            transform: translateY(-.5rem);
        }
    }

    &__text {
        transition: all .5s;
    }
}