@use '../../mixins/shadow.scss' as shadows;
@use './card-header.scss';
@use './card-image.scss';
@use './card-content.scss';
@use './card-actions.scss';
@use './card-header-actions.scss';

.daio-card {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: .85rem;
    background-color: var(--on-surface);
    border-radius: .5rem;
    padding: 1rem 1rem;
    overflow: hidden;

    &__container {
        gap: 1rem;
    }

    @include shadows.daio-shadow;
    transition: filter .3s ease-in-out;

    &:hover {
        @include shadows.daio-shadow-hover;
    }
}