@use './globalheadersearchbox.scss';

.daio-global-header {
    display: flex;
    width: 100%;
    height: 4rem;

    &__container {
        display: flex;
        width: 100%;
        height: 100%;

        &__search-box {
            min-width: 17rem;
            background-color: var(--focus-flat);
        }

        &__menu {
            flex-basis: 100%;
            background-color: var(--dark-backround);
        }
    }
}