.daio-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: var(--primary-color);
    font-size: .7rem;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: .25rem;
    color: var(--on-surface);
    font-family: 'IBM Plex Sans', sans-serif;

    &--right {
        right: -50%;
    }

    &--bottom {
        bottom: -50%;
    }

    &--top {
        top: 50%;
    }

    &--left {
        left: 50%;
    }
}