.daio-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: var(--primary-color);
    font-size: .65rem;
    font-weight: 500;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: .25rem;
    color: var(--on-surface);
    font-family: 'IBM Plex Sans', sans-serif;

    &--right {
        right: -60%;
    }

    &--bottom {
        bottom: -60%;
    }

    &--top {
        top: 60%;
    }

    &--left {
        left: 60%;
    }

    &--destructive {
        background-color: var(--destructive-color);
    }

    &--primary {
        background-color: var(--primary-color);
    }

    &--info {
        background-color: var(--info-color);
    }
}