@use '../../mixins/shadow.scss' as shadows;

.daio-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: .65rem;
    font-weight: 500;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: .25rem;
    color: var(--on-surface);
    font-family: 'IBM Plex Sans', sans-serif;

    &--right {
        right: -55%;
    }

    &--bottom {
        bottom: -55%;
    }

    &--top {
        top: 55%;
    }

    &--left {
        left: 55%;
    }

    &--destructive {
        background-color: var(--destructive-color);
    }

    &--primary {
        background-color: var(--primary-color);
    }

    &--info {
        background-color: var(--info-color);
    }
}

.daio-badge-standalone {
    
    &__container {        
        display: flex;
        font-size: .65rem;
        font-weight: 500;
        color: var(--on-surface);
        padding: .25rem .5rem;
    }

    &--primary {
        display: block;
        border-radius: .25rem;
        background-color: var(--primary-color);

        @include shadows.daio-shadow-checkbox;

    }

    &--info {
        display: block;
        border-radius: .25rem;
        background-color: var(--info-color);

        @include shadows.daio-shadow-checkbox;

    }

    &--destructive-color {
        display: block;
        border-radius: .25rem;
        background-color: var(--destructive-color);

        @include shadows.daio-shadow-checkbox;
    }
}