@use '../../mixins/shadow.scss' as shadows;

.daio-sidenav-title {
    display: flex;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 1rem;
        font-weight: 600;
        width: 100%;
        margin-left: .5rem;
        margin-right: .5rem;
        
        &__bell {
            cursor: pointer;
        }

        transition: all .2s ease;

        & daio-icon {
            opacity: 0;
            font-size: 1.1rem;
            margin-right: 1.25rem;

            @include shadows.daio-shadow-checkbox;

            transition: opacity .1s ease;
        }
    }

    &--expanded {
        & > span {
            opacity: 1;
            visibility: visible;
        }

        & daio-icon {
            opacity: 1;
        }
    }
}