.daio-sidenav-widget {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    transition: all .5s;
    width: 100%;
    height: 15rem;
    background-color: var(--focus-flat);
    overflow: hidden;

    &__items {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1.75rem;
        overflow-x: scroll;
        padding-left: 2rem;
    }

    &__news-container {
        position: relative;
        display: flex;
        gap: 2rem;
        height: 100%;
        background: rgba($color: #3039dd, $alpha: .05);

        > * {
            flex-basis: 100%;
        }
    }

    &--hidden {
        grid-template-columns: 100% 0;
    }

    &__icon {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--primary-color);
        width: 3rem;
        height: 80%;
        border-radius: .5rem;
        border: 2px solid var(--primary-color);
        top: 50%;
        transform: translateY(-50%);
        right: 1rem;
        cursor: pointer;
        z-index: 1;
        transition: outline .1s ease, filter .3s ease-in-out, transform .3s ease-in-out;

        animation: fadeInWidgetIcon;
        animation-duration: 1s;

        &:hover {
            transform: translateY(-52%);
        }

        &:focus {
            outline: .2rem solid rgba($color: #3742FA, $alpha: .25);
        }

        &--hidden {
            animation: fadeOutWidgetIcon;
            animation-duration: .3s;
            right: -5rem;
        }
    }
}

@keyframes fadeInWidgetIcon {
    0% {
        opacity: 0;
        right: -3.5rem;
    }

    60% {
        opacity: 0;
        right: -3.5rem;
    }

    100% {
        opacity: 1;
        right: 1rem;
    }
}

@keyframes fadeOutWidgetIcon {
    0% {
        right: 1rem;
    }

    100% {
        right: -5rem;
    }
}