@use './sidenav-hamburger.scss';
@use './sidenav-title.scss';
@use './sidenav-menu.scss';

.daio-sidenav {
    display: grid;
    grid-template-areas: "sidenav content";
    grid-template-columns: 4rem auto;

    transition: all .4s ease;

    &--expanded {
        grid-template-columns: 25rem auto;
    }


    &__nav {
        grid-area: sidenav;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-color: var(--dark-backround);
        overflow: hidden;
        white-space: nowrap;

        &__menu {
            margin-top: 4rem;
        }

        &__hamburger {
            display: grid;
            grid-template-columns: 4rem 1fr;
            width: 100%;
            height: 2.875rem;
            margin-top: 0.75rem;
            color: var(--on-surface);
        }
    }

    &__content {
        grid-area: content;
    }
}