.daio-sidenav-menu-item {
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--on-surface);
    
    &__container {
        position: relative;
        display: flex;
        gap: 2rem;
        align-items: center;
        padding: 1rem 1.5rem;
        cursor: pointer;

        transition: background-color .2s ease;

        &__text {
            font-size: .9rem;
            text-transform: capitalize;
        }

        &__icon {
            font-size: 1rem;
        }

        &:hover {
            background-color: var(--menu-grey);

            &::before {
                position: absolute;
                content: '';
                left: 0;
                background-color: var(--primary-color);
                width: .2rem;
                height: 100%;
            }
        }
    }

    &--active {
        position: relative;
        background-color: var(--menu-grey);

        &::before {
            position: absolute;
            content: '';
            left: 0;
            background-color: var(--primary-color);
            width: .2rem;
            height: 100%;
        }
    }
}