.daio-sidenav-menu {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__container {

        &__icon {
            display: flex;
            justify-content: center;
            width: 4rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
}