.daio-widget-gradient {
    flex: 1;
    height: 100%;
    width: 100%;
    margin-left: 1rem;
    background-image: linear-gradient(90deg, rgba($color: #3039dd, $alpha: .05), rgba($color: #3742FA, $alpha: .05));
}