@use '../../mixins/shadow.scss' as shadow;

.daio-checkbox {
    display: block;
    width: fit-content;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: .875rem;
    font-weight: 400;
    user-select: none;
    cursor: pointer;

    &__label {
        cursor: pointer;
    }

    &__content {
        position: relative;
        display: flex;
        gap: .55rem;
        justify-content: center;
        align-items: center;

        & input[type="checkbox"] {
            -webkit-appearance: none;
            appearance: none;
            margin: 0;
            height: 1.125rem;
            width: 1.125rem;
            border: 1px solid var(--disabled-deep-grey);
            border-radius: .3rem;

            transition: background-color .1s ease;
            cursor: pointer;

            &:hover:checked:not(:disabled) {
                background-color: var(--primary-color-deep);
            }

            &:focus:not(:focus-visible) {
                outline: .2rem solid rgba($color: #3742FA, $alpha: .25);
                outline-offset: 0px;
            }

            &:focus-visible {
                outline: .2rem solid rgba($color: #3742FA, $alpha: .25);
                outline-offset: 0px;
            }

            &:checked {
                &+.daio-checkbox__icon {
                    display: block;
                }
            }

            &:checked:not(:disabled) {
                background-color: var(--primary-color);
                border: 1px solid var(--primary-color);
                
                @include shadow.daio-shadow-checkbox;
            }

            &:disabled {
                border-color: var(--disabled-grey);
            }

            &:checked:disabled {
                background-color: var(--disabled-grey);
                border: none;

                @include shadow.daio-shadow-checkbox;

                &+.daio-checkbox__icon {
                    color: var(--disabled-deep-grey);
                }
            }
        }

        &__box {
            position: relative;
        }
    }

    &__icon {
        pointer-events: none;
        display: none;
        position: absolute;
        left: .3125rem;
        top: 50%;
        font-size: .5rem;
        transform: translateY(-50%);
        color: var(--on-surface);
    }
}