@use '../../mixins/shadow.scss' as shadows;

.daio-menu {
    position: absolute;
    
    &__container {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: .875rem;
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: var(--on-surface);
        padding: 1rem 0rem;
        border-radius: .5rem;
        animation-name: fadeIn;
        animation-duration: .3s;
        pointer-events: all;
        transition: filter .3s ease-in-out;

        @include shadows.daio-shadow;

        &:hover {
            @include shadows.daio-shadow-hover;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}